.ganttTable {
  display: table;
  border-bottom: #e6e4e4 1px solid;
  border-top: #e6e4e4 1px solid;
}

.ganttTable_Header {
  display: table-row;
  list-style: none;
}

.ganttTable_HeaderSeparator {
  border-right: 1px solid rgb(196, 196, 196);
  opacity: 1;
  margin-left: -2px;
}

.ganttTable_HeaderItem {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  display: table-cell;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.resizer {
  position: absolute;
  top: 0;
  right: -5px;
  height: 100%;
  width: 10px;
  cursor: ew-resize;
  user-select: none;
}
