.taskListNameWrapper {
  display: flex;
  align-items: center;
}

.dragging {
  opacity: 0.5;
}

.taskListExpander {
  opacity: 0.9;
  font-size: 18px;
  user-select: none;
  cursor: pointer;
}

.taskListEmptyExpander {
  user-select: none;
  cursor: default;
}

.taskName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
